build/provider.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Как подключить</title>
    <meta content="" name="author">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image" href="assets/img/favicon.ico" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="assets/css/app.css" media="screen, projection, print"><!--[if lt IE 9]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]-->
  </head>
  <body class="marine">
    <div class="wrapper">
      <!-- - const dropdownItems =  ['DISCOVERY CHANNEL', 'ANIMAL PLANET', 'TLC', 'ID INVESTIGATION DISCOVERY', 'DISCOVERY SCIENCE']-->
      <header class="header">
        <div class="container header__container"><a class="header__logo" href="#"><img class="header__logo_img" src="assets/img/logo.svg"></a>
          <nav class="header__nav nav">
            <ul class="nav__list">
              <li class="nav__item nav__item_has-dropdown"><a class="nav__link" href="#">Телепрограмма</a><a class="nav__open-dropdown"><svg viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11 1L6 6L1 1" stroke="#81D1EA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</a>
                <ul class="nav__dropdown dropdown">
                  <li class="dropdown__item"><a class="dropdown__link" href="#">DISCOVERY CHANNEL</a></li>
                  <li class="dropdown__item"><a class="dropdown__link" href="#">ANIMAL PLANET</a></li>
                  <li class="dropdown__item"><a class="dropdown__link" href="#">TLC</a></li>
                  <li class="dropdown__item"><a class="dropdown__link" href="#">ID INVESTIGATION DISCOVERY</a></li>
                  <li class="dropdown__item"><a class="dropdown__link" href="#">DISCOVERY SCIENCE</a></li>
                </ul>
              </li>
              <li class="nav__item nav__item_has-dropdown"><a class="nav__link" href="#">Шоу</a>
              </li>
              <li class="nav__item nav__item_has-dropdown"><a class="nav__link" href="#">Видео</a>
              </li>
              <li class="nav__item nav__item_has-dropdown"><a class="nav__link" href="#">Интересное</a>
              </li>
              <li class="nav__item nav__item_has-dropdown active"><a class="nav__link" href="#">Как подключить</a>
              </li>
              <li class="nav__item nav__item_mobile"><a class="header__promo header__promo_mobile nav__link" href="#"><span class="header__promo-heading">Спецпроект</span><span class="header__promo-img"><img class="header__promo-pic" src="assets/img/suzuki.png"></span></a></li>
              <li class="nav__item nav__item_mobile">
                <div class="socials socials_mobile">
                  <div class="socials__list">
                    <div class="socials__item"><a class="socials__link" href="#">
                        <svg class="socials__pic socials__pic_fb">
                          <use xlink:href="./assets/img/sprite.svg#fb"></use>
                        </svg></a></div>
                    <div class="socials__item"><a class="socials__link" href="#">
                        <svg class="socials__pic socials__pic_vk">
                          <use xlink:href="./assets/img/sprite.svg#vk"></use>
                        </svg></a></div>
                    <div class="socials__item"><a class="socials__link" href="#">
                        <svg class="socials__pic socials__pic_youtube">
                          <use xlink:href="./assets/img/sprite.svg#youtube"></use>
                        </svg></a></div>
                    <div class="socials__item"><a class="socials__link" href="#">
                        <svg class="socials__pic socials__pic_dzen">
                          <use xlink:href="./assets/img/sprite.svg#dzen"></use>
                        </svg></a></div>
                  </div>
                </div>
              </li>
            </ul>
          </nav><a class="header__promo" href="#"><span class="header__promo-heading">Спецпроект</span><span class="header__promo-img"><img class="header__promo-pic" src="assets/img/suzuki.png"></span></a>
          <div class="header__actions actions">
            <button class="actions__mobile-menu">
              <div class="actions__mobile-menu-icon mobile-menu">
                <div class="mobile-menu__line mobile-menu__line_top"></div>
                <div class="mobile-menu__line mobile-menu__line_middle"></div>
                <div class="mobile-menu__line mobile-menu__line_bottom"></div>
              </div>
            </button>
            <div class="actions__search search">
              <form class="search__form" action="" method="get" autocomplete="off">
                <div class="search__icon">
                  <div class="search__icon-search"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M21 21L16.65 16.65" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

                  </div>
                  <div class="search__icon-close"><svg viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="1.41418" width="22" height="2" rx="1" transform="rotate(45 1.41418 0)" fill="white"/>
<rect width="22" height="2" rx="1" transform="matrix(0.707107 -0.707107 -0.707107 -0.707107 1.41418 16.9706)" fill="white"/>
</svg>

                  </div>
                </div>
                <input class="search__input" type="text" name="search">
                <button class="button button_bordered search__button" type="submit"><span class="button__text">Поиск</span></button>
              </form>
            </div>
            <div class="actions__socials socials">
              <div class="socials__list">
                <div class="socials__item"><a class="socials__link" href="#">
                    <svg class="socials__pic socials__pic_fb">
                      <use xlink:href="./assets/img/sprite.svg#fb"></use>
                    </svg></a></div>
                <div class="socials__item"><a class="socials__link" href="#">
                    <svg class="socials__pic socials__pic_vk">
                      <use xlink:href="./assets/img/sprite.svg#vk"></use>
                    </svg></a></div>
                <div class="socials__item"><a class="socials__link" href="#">
                    <svg class="socials__pic socials__pic_youtube">
                      <use xlink:href="./assets/img/sprite.svg#youtube"></use>
                    </svg></a></div>
                <div class="socials__item"><a class="socials__link" href="#">
                    <svg class="socials__pic socials__pic_dzen">
                      <use xlink:href="./assets/img/sprite.svg#dzen"></use>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="hero">
        <div class="hero__wrapper">
          <div class="hero__colored-border">
            <div class="hero__background" style="background-image: url('./assets/img/main-hero-4.jpg')"></div>
          </div>
          <div class="hero__container container">
            <div class="hero__breadcrumbs breadcrumbs">
              <div class="breadcrumbs__item"><a class="breadcrumbs__link" href="javascript:void(0);">Главная</a></div>
              <div class="breadcrumbs__item"><a class="breadcrumbs__link breadcrumbs__link_current" href="javascript:void(0);">Как подключить</a></div>
            </div>
            <form class="hero__select select">
              <div class="select__name title title_no-m">Введите ваш регион</div>
              <div class="select__input">
                <select class="select2 select__select2 select2_custom select2--opaque" type="search">
                  <option value="msk">Москва</option>
                  <option value="spb">Санкт-Петербург</option>
                  <option value="vn">Великий Новгород</option>
                  <option value="nn">Нижний Новгород</option>
                  <option value="iv">Иваново</option>
                  <option value="vlz">Волжский</option>
                </select>
              </div>
              <div class="select__button">
                <button class="button" type="submit"><span class="button__text">Применить</span></button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="providers">
        <div class="providers__container container">
          <ul class="providers__list">
            <li class="providers__item"><a class="provider" href="https://www.company.rt.ru/" target="_blank">
                <div class="provider__wrapper">
                  <div class="provider__img"><img class="provider__pic" src="./assets/img/provider-mts.png"></div>
                  <div class="provider__info">
                    <div class="provider__name">МТС</div>
                    <div class="provider__link">Перейти на сайт<span class="provider__external-link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" stroke-miterlimit="10" stroke-width="2" d="M20 12L20 20 4 20 4 4 12 4M20 10L20 4 14 4M20 4L9 15"/></svg></span></div>
                  </div>
                </div></a></li>
            <li class="providers__item"><a class="provider" href="https://www.company.rt.ru/" target="_blank">
                <div class="provider__wrapper">
                  <div class="provider__img"><img class="provider__pic" src="./assets/img/provider-rt.png"></div>
                  <div class="provider__info">
                    <div class="provider__name">ПАО &laquo;Ростелеком&raquo;</div>
                    <div class="provider__link">Перейти на сайт<span class="provider__external-link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" stroke-miterlimit="10" stroke-width="2" d="M20 12L20 20 4 20 4 4 12 4M20 10L20 4 14 4M20 4L9 15"/></svg></span></div>
                  </div>
                </div></a></li>
            <li class="providers__item"><a class="provider" href="https://www.company.rt.ru/" target="_blank">
                <div class="provider__wrapper">
                  <div class="provider__img"><img class="provider__pic" src="./assets/img/provider-telecard.png"></div>
                  <div class="provider__info">
                    <div class="provider__name">МТС</div>
                    <div class="provider__link">Перейти на сайт<span class="provider__external-link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" stroke-miterlimit="10" stroke-width="2" d="M20 12L20 20 4 20 4 4 12 4M20 10L20 4 14 4M20 4L9 15"/></svg></span></div>
                  </div>
                </div></a></li>
            <li class="providers__item"><a class="provider" href="https://www.company.rt.ru/" target="_blank">
                <div class="provider__wrapper">
                  <div class="provider__img"><img class="provider__pic" src="./assets/img/provider-mega.png"></div>
                  <div class="provider__info">
                    <div class="provider__name">ПАО &laquo;Ростелеком&raquo;</div>
                    <div class="provider__link">Перейти на сайт<span class="provider__external-link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" stroke-miterlimit="10" stroke-width="2" d="M20 12L20 20 4 20 4 4 12 4M20 10L20 4 14 4M20 4L9 15"/></svg></span></div>
                  </div>
                </div></a></li>
            <li class="providers__item"><a class="provider" href="https://www.company.rt.ru/" target="_blank">
                <div class="provider__wrapper">
                  <div class="provider__img"><img class="provider__pic" src="./assets/img/provider-sps.png"></div>
                  <div class="provider__info">
                    <div class="provider__name">МТС</div>
                    <div class="provider__link">Перейти на сайт<span class="provider__external-link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" stroke-miterlimit="10" stroke-width="2" d="M20 12L20 20 4 20 4 4 12 4M20 10L20 4 14 4M20 4L9 15"/></svg></span></div>
                  </div>
                </div></a></li>
            <li class="providers__item"><a class="provider" href="https://www.company.rt.ru/" target="_blank">
                <div class="provider__wrapper">
                  <div class="provider__img"><img class="provider__pic" src="./assets/img/provider-dom.png"></div>
                  <div class="provider__info">
                    <div class="provider__name">ПАО &laquo;Ростелеком&raquo;</div>
                    <div class="provider__link">Перейти на сайт<span class="provider__external-link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" stroke-miterlimit="10" stroke-width="2" d="M20 12L20 20 4 20 4 4 12 4M20 10L20 4 14 4M20 4L9 15"/></svg></span></div>
                  </div>
                </div></a></li>
          </ul>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer__container container">
        <div class="footer__left">
          <nav class="footer-nav"><span class="footer-nav__column"><a class="footer-nav__link" href="#">Телепрограмма</a><a class="footer-nav__link footer-nav__link--longer" href="#">Шоу</a><a class="footer-nav__link footer-nav__link--longer" href="#">Видео</a></span><span class="footer-nav__column"><a class="footer-nav__link" href="#"> Интересное</a><a class="footer-nav__link" href="#"> Как подлючиться</a><a class="footer-nav__link" href="#"> О телеканале</a></span><span class="footer-nav__column"><a class="footer-nav__link footer-nav__link--long" href="#">Пользовательское соглашение</a><a class="footer-nav__link footer-nav__link--long" href="#">Положение о конфиденциальности</a><a class="footer-nav__link" href="#">Размещение рекламы</a></span></nav>
        </div>
        <div class="footer__right socials"><span class="footer__text">Мы в соцсетях</span>
          <div class="footer__socials socials__list">
            <div class="socials__item socials__item_big-marg"><a class="socials__link" href="#">
                <svg class="socials__pic socials__pic_fb">
                  <use xlink:href="./assets/img/sprite.svg#fb"></use>
                </svg></a></div>
            <div class="socials__item socials__item_big-marg"><a class="socials__link" href="#">
                <svg class="socials__pic socials__pic_vk">
                  <use xlink:href="./assets/img/sprite.svg#vk"></use>
                </svg></a></div>
            <div class="socials__item socials__item_big-marg"><a class="socials__link" href="#">
                <svg class="socials__pic socials__pic_youtube">
                  <use xlink:href="./assets/img/sprite.svg#youtube"></use>
                </svg></a></div>
            <div class="socials__item"><a class="socials__link" href="#">
                <svg class="socials__pic socials__pic_dzen">
                  <use xlink:href="./assets/img/sprite.svg#dzen"></use>
                </svg></a></div>
          </div>
        </div>
        <div class="footer__copyright-container">
          <div class="footer__copyright">&copy; 2019 Discovery Networks International. Все права защищены. Копирование материалов без согласования запрещено.</div>
          <div class="footer__air-prod">
            <div class="footer__air-logo">Сделано в &nbsp;<a class="footer__logo-link" href="#">Air Production</a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="assets/js/foundation.js" defer></script>
    <script src="assets/js/app.js" defer></script>
  </body>
</html>

source/template/pages/provider.pug
extends ../_template

block variables
	- var title = 'Как подключить';
	- var curIndex = 4

block content
	.wrapper
		include ../common/_header.pug


		.hero
			.hero__wrapper
				.hero__colored-border
					.hero__background(style="background-image: url('./assets/img/main-hero-4.jpg')")
				.hero__container.container
					.hero__breadcrumbs.breadcrumbs
						.breadcrumbs__item
							a(href='javascript:void(0);').breadcrumbs__link Главная
						.breadcrumbs__item
							a(href='javascript:void(0);').breadcrumbs__link.breadcrumbs__link_current Как подключить
					form.hero__select.select
						.select__name.title.title_no-m Введите ваш регион
						.select__input
							select.select2.select__select2.select2_custom.select2--opaque(type="search")
								option(value="msk") Москва
								option(value="spb") Санкт-Петербург
								option(value="vn") Великий Новгород
								option(value="nn") Нижний Новгород
								option(value="iv") Иваново
								option(value="vlz") Волжский
						.select__button
							button(type='submit').button
								span.button__text Применить
		.providers
			.providers__container.container
				ul.providers__list
					li.providers__item
						a(href='https://www.company.rt.ru/' target='_blank').provider
							.provider__wrapper
								.provider__img
									img.provider__pic(src='./assets/img/provider-mts.png')
								.provider__info
									.provider__name МТС
									.provider__link Перейти на сайт
										span.provider__external-link
											include ../../images/external-link.svg
					li.providers__item
						a(href='https://www.company.rt.ru/' target='_blank').provider
							.provider__wrapper
								.provider__img
									img.provider__pic(src='./assets/img/provider-rt.png')
								.provider__info
									.provider__name ПАО &laquo;Ростелеком&raquo;
									.provider__link Перейти на сайт
										span.provider__external-link
											include ../../images/external-link.svg
					li.providers__item
						a(href='https://www.company.rt.ru/' target='_blank').provider
							.provider__wrapper
								.provider__img
									img.provider__pic(src='./assets/img/provider-telecard.png')
								.provider__info
									.provider__name МТС
									.provider__link Перейти на сайт
										span.provider__external-link
											include ../../images/external-link.svg
					li.providers__item
						a(href='https://www.company.rt.ru/' target='_blank').provider
							.provider__wrapper
								.provider__img
									img.provider__pic(src='./assets/img/provider-mega.png')
								.provider__info
									.provider__name ПАО &laquo;Ростелеком&raquo;
									.provider__link Перейти на сайт
										span.provider__external-link
											include ../../images/external-link.svg
					li.providers__item
						a(href='https://www.company.rt.ru/' target='_blank').provider
							.provider__wrapper
								.provider__img
									img.provider__pic(src='./assets/img/provider-sps.png')
								.provider__info
									.provider__name МТС
									.provider__link Перейти на сайт
										span.provider__external-link
											include ../../images/external-link.svg
					li.providers__item
						a(href='https://www.company.rt.ru/' target='_blank').provider
							.provider__wrapper
								.provider__img
									img.provider__pic(src='./assets/img/provider-dom.png')
								.provider__info
									.provider__name ПАО &laquo;Ростелеком&raquo;
									.provider__link Перейти на сайт
										span.provider__external-link
											include ../../images/external-link.svg




	include ../common/_footer.pug
