source/template/pages/search.pug
extends ../_template

block variables
	- var title = 'Show';

block content
	.wrapper
		include ../common/_header.pug

		.search-result
			.search-result__container.container
				.search-result__text
					| Результаты по запросу:&nbsp;
					span.search-result__request Тюнинг

		.recommended_show(data-aos="fade-in")
			.recommended__container.container
				.recommended__heading.title
					| Видео
					span.recommended__number-of-items
						| &nbsp;(
						span.recommended__number 3
						| )
				.recommended__list
					.recommended__item
						.show-card
							a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).show-card__link
								.show-card__cover.show-card__cover_420-330
									img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__play
										include ../../images/play.svg
								.show-card__info
									.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
					.recommended__item
						.show-card
							a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).show-card__link
								.show-card__cover.show-card__cover_420-330
									img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__play
										include ../../images/play.svg
								.show-card__info
									.show-card__name.title.title_h4 Самогонщики
					.recommended__item
						.show-card
							a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).show-card__link
								.show-card__cover.show-card__cover_420-330
									img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__play
										include ../../images/play.svg
								.show-card__info
									.show-card__name.title.title_h4 Самогонщики

		.videos
			.videos__container.container
				.videos__title-wrapper
					.videos__title.title Шоу
					.container.videos__controls
						.swiper-button-prev.videos-swiper-button-prev
							include ../../images/nextEl-colorized.svg
						.swiper-button-next.videos-swiper-button-next
							include ../../images/nextEl-colorized.svg
				.swiper-container.videos__wrapper
					.videos__list.swiper-wrapper
						.videos__item.swiper-slide
							.show-card
								a(href="#").show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.videos__item.swiper-slide
							.show-card
								a(href="#").show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.videos__item.swiper-slide
							.show-card
								a(href="#").show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.videos__item.swiper-slide
							.show-card
								a(href="#").show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.videos__item.swiper-slide
							.show-card
								a(href="#").show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.videos__item.swiper-slide
							.show-card
								a(href="#").show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.videos__item.swiper-slide
							.show-card
								a(href="#").show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.videos__item.swiper-slide
							.show-card
								a(href="#").show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
		.premier
			.premier__container.container
				.premier__title-wrapper
					.premier__title.title Интересное
					.container.premier__controls
						.swiper-button-prev.premier-swiper-button-prev
							include ../../images/nextEl-colorized.svg
						.swiper-button-next.premier-swiper-button-next
							include ../../images/nextEl-colorized.svg
				.swiper-container.premier__wrapper
					.premier__list.swiper-wrapper
						.premier__item.swiper-slide
							.show-card
								a(href="#").show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									.show-card__more Подробнее
										span.show-card__more-arrow
											include ../../images/down-arrow.svg
						.premier__item.swiper-slide
							.show-card
								a(href="#").show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									.show-card__more Подробнее
										span.show-card__more-arrow
											include ../../images/down-arrow.svg
						.premier__item.swiper-slide
							.show-card
								a(href="#").show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									.show-card__more Подробнее
										span.show-card__more-arrow
											include ../../images/down-arrow.svg
						.premier__item.swiper-slide
							.show-card
								a(href="#").show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									.show-card__more Подробнее
										span.show-card__more-arrow
											include ../../images/down-arrow.svg
						.premier__item.swiper-slide
							.show-card
								a(href="#").show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									.show-card__more Подробнее
										span.show-card__more-arrow
											include ../../images/down-arrow.svg
						.premier__item.swiper-slide
							.show-card
								a(href="#").show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									.show-card__more Подробнее
										span.show-card__more-arrow
											include ../../images/down-arrow.svg
						.premier__item.swiper-slide
							.show-card
								a(href="#").show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									.show-card__more Подробнее
										span.show-card__more-arrow
											include ../../images/down-arrow.svg

	include ../common/_footer.pug

build/search.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Show</title>
    <meta content="" name="author">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image" href="assets/img/favicon.ico" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="assets/css/app.css" media="screen, projection, print"><!--[if lt IE 9]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]-->
  </head>
  <body class="marine">
    <div class="wrapper">
      <!-- - const dropdownItems =  ['DISCOVERY CHANNEL', 'ANIMAL PLANET', 'TLC', 'ID INVESTIGATION DISCOVERY', 'DISCOVERY SCIENCE']-->
      <header class="header">
        <div class="container header__container"><a class="header__logo" href="#"><img class="header__logo_img" src="assets/img/logo.svg"></a>
          <nav class="header__nav nav">
            <ul class="nav__list">
              <li class="nav__item nav__item_has-dropdown"><a class="nav__link" href="#">Телепрограмма</a><a class="nav__open-dropdown"><svg viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11 1L6 6L1 1" stroke="#81D1EA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</a>
                <ul class="nav__dropdown dropdown">
                  <li class="dropdown__item"><a class="dropdown__link" href="#">DISCOVERY CHANNEL</a></li>
                  <li class="dropdown__item"><a class="dropdown__link" href="#">ANIMAL PLANET</a></li>
                  <li class="dropdown__item"><a class="dropdown__link" href="#">TLC</a></li>
                  <li class="dropdown__item"><a class="dropdown__link" href="#">ID INVESTIGATION DISCOVERY</a></li>
                  <li class="dropdown__item"><a class="dropdown__link" href="#">DISCOVERY SCIENCE</a></li>
                </ul>
              </li>
              <li class="nav__item nav__item_has-dropdown"><a class="nav__link" href="#">Шоу</a>
              </li>
              <li class="nav__item nav__item_has-dropdown"><a class="nav__link" href="#">Видео</a>
              </li>
              <li class="nav__item nav__item_has-dropdown"><a class="nav__link" href="#">Интересное</a>
              </li>
              <li class="nav__item nav__item_has-dropdown"><a class="nav__link" href="#">Как подключить</a>
              </li>
              <li class="nav__item nav__item_mobile"><a class="header__promo header__promo_mobile nav__link" href="#"><span class="header__promo-heading">Спецпроект</span><span class="header__promo-img"><img class="header__promo-pic" src="assets/img/suzuki.png"></span></a></li>
              <li class="nav__item nav__item_mobile">
                <div class="socials socials_mobile">
                  <div class="socials__list">
                    <div class="socials__item"><a class="socials__link" href="#">
                        <svg class="socials__pic socials__pic_fb">
                          <use xlink:href="./assets/img/sprite.svg#fb"></use>
                        </svg></a></div>
                    <div class="socials__item"><a class="socials__link" href="#">
                        <svg class="socials__pic socials__pic_vk">
                          <use xlink:href="./assets/img/sprite.svg#vk"></use>
                        </svg></a></div>
                    <div class="socials__item"><a class="socials__link" href="#">
                        <svg class="socials__pic socials__pic_youtube">
                          <use xlink:href="./assets/img/sprite.svg#youtube"></use>
                        </svg></a></div>
                    <div class="socials__item"><a class="socials__link" href="#">
                        <svg class="socials__pic socials__pic_dzen">
                          <use xlink:href="./assets/img/sprite.svg#dzen"></use>
                        </svg></a></div>
                  </div>
                </div>
              </li>
            </ul>
          </nav><a class="header__promo" href="#"><span class="header__promo-heading">Спецпроект</span><span class="header__promo-img"><img class="header__promo-pic" src="assets/img/suzuki.png"></span></a>
          <div class="header__actions actions">
            <button class="actions__mobile-menu">
              <div class="actions__mobile-menu-icon mobile-menu">
                <div class="mobile-menu__line mobile-menu__line_top"></div>
                <div class="mobile-menu__line mobile-menu__line_middle"></div>
                <div class="mobile-menu__line mobile-menu__line_bottom"></div>
              </div>
            </button>
            <div class="actions__search search">
              <form class="search__form" action="" method="get" autocomplete="off">
                <div class="search__icon">
                  <div class="search__icon-search"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M21 21L16.65 16.65" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

                  </div>
                  <div class="search__icon-close"><svg viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="1.41418" width="22" height="2" rx="1" transform="rotate(45 1.41418 0)" fill="white"/>
<rect width="22" height="2" rx="1" transform="matrix(0.707107 -0.707107 -0.707107 -0.707107 1.41418 16.9706)" fill="white"/>
</svg>

                  </div>
                </div>
                <input class="search__input" type="text" name="search">
                <button class="button button_bordered search__button" type="submit"><span class="button__text">Поиск</span></button>
              </form>
            </div>
            <div class="actions__socials socials">
              <div class="socials__list">
                <div class="socials__item"><a class="socials__link" href="#">
                    <svg class="socials__pic socials__pic_fb">
                      <use xlink:href="./assets/img/sprite.svg#fb"></use>
                    </svg></a></div>
                <div class="socials__item"><a class="socials__link" href="#">
                    <svg class="socials__pic socials__pic_vk">
                      <use xlink:href="./assets/img/sprite.svg#vk"></use>
                    </svg></a></div>
                <div class="socials__item"><a class="socials__link" href="#">
                    <svg class="socials__pic socials__pic_youtube">
                      <use xlink:href="./assets/img/sprite.svg#youtube"></use>
                    </svg></a></div>
                <div class="socials__item"><a class="socials__link" href="#">
                    <svg class="socials__pic socials__pic_dzen">
                      <use xlink:href="./assets/img/sprite.svg#dzen"></use>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="search-result">
        <div class="search-result__container container">
          <div class="search-result__text">Результаты по запросу:&nbsp;<span class="search-result__request">Тюнинг</span></div>
        </div>
      </div>
      <div class="recommended_show" data-aos="fade-in">
        <div class="recommended__container container">
          <div class="recommended__heading title">Видео<span class="recommended__number-of-items">&nbsp;(<span class="recommended__number">3</span>)</span></div>
          <div class="recommended__list">
            <div class="recommended__item">
              <div class="show-card"><a class="show-card__link" href="//www.youtube.com/watch?v=T_6CeJCad6Y&amp;list=LLlHMjNwXSCANxW6EfndN0rg&amp;index=11&amp;t=68s" data-lity>
                  <div class="show-card__cover show-card__cover_420-330"><img class="show-card__pic" src="assets/img/video-cover.jpg">
                    <div class="show-card__play"><svg viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="1" y="1" width="88" height="88" rx="44" stroke="white" stroke-width="2"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M54 45L39 33V57L54 45Z" fill="white"/>
</svg>

                    </div>
                  </div>
                  <div class="show-card__info">
                    <div class="show-card__name title title_h4">Взгляд изнутри: West Coast Customs</div>
                  </div></a></div>
            </div>
            <div class="recommended__item">
              <div class="show-card"><a class="show-card__link" href="//www.youtube.com/watch?v=T_6CeJCad6Y&amp;list=LLlHMjNwXSCANxW6EfndN0rg&amp;index=11&amp;t=68s" data-lity>
                  <div class="show-card__cover show-card__cover_420-330"><img class="show-card__pic" src="assets/img/video-cover.jpg">
                    <div class="show-card__play"><svg viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="1" y="1" width="88" height="88" rx="44" stroke="white" stroke-width="2"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M54 45L39 33V57L54 45Z" fill="white"/>
</svg>

                    </div>
                  </div>
                  <div class="show-card__info">
                    <div class="show-card__name title title_h4">Самогонщики</div>
                  </div></a></div>
            </div>
            <div class="recommended__item">
              <div class="show-card"><a class="show-card__link" href="//www.youtube.com/watch?v=T_6CeJCad6Y&amp;list=LLlHMjNwXSCANxW6EfndN0rg&amp;index=11&amp;t=68s" data-lity>
                  <div class="show-card__cover show-card__cover_420-330"><img class="show-card__pic" src="assets/img/video-cover.jpg">
                    <div class="show-card__play"><svg viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="1" y="1" width="88" height="88" rx="44" stroke="white" stroke-width="2"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M54 45L39 33V57L54 45Z" fill="white"/>
</svg>

                    </div>
                  </div>
                  <div class="show-card__info">
                    <div class="show-card__name title title_h4">Самогонщики</div>
                  </div></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="videos">
        <div class="videos__container container">
          <div class="videos__title-wrapper">
            <div class="videos__title title">Шоу</div>
            <div class="container videos__controls">
              <div class="swiper-button-prev videos-swiper-button-prev"><svg viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
<path class="rounded-border" opacity="0.6" d="M49.25 25C49.25 11.6071 38.3929 0.75 25 0.75C11.6071 0.75 0.75 11.6071 0.75 25C0.75 38.3929 11.6071 49.25 25 49.25C38.3929 49.25 49.25 38.3929 49.25 25Z" stroke="white" stroke-width="1.5"/>
<path class="play-icon" d="M22.2224 18.5181L28.3953 24.9996L22.2224 31.4811" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

              </div>
              <div class="swiper-button-next videos-swiper-button-next"><svg viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
<path class="rounded-border" opacity="0.6" d="M49.25 25C49.25 11.6071 38.3929 0.75 25 0.75C11.6071 0.75 0.75 11.6071 0.75 25C0.75 38.3929 11.6071 49.25 25 49.25C38.3929 49.25 49.25 38.3929 49.25 25Z" stroke="white" stroke-width="1.5"/>
<path class="play-icon" d="M22.2224 18.5181L28.3953 24.9996L22.2224 31.4811" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

              </div>
            </div>
          </div>
          <div class="swiper-container videos__wrapper">
            <div class="videos__list swiper-wrapper">
              <div class="videos__item swiper-slide">
                <div class="show-card"><a class="show-card__link" href="#">
                    <div class="show-card__cover show-card__cover_420-330"><img class="show-card__pic" src="assets/img/video-cover.jpg"></div>
                    <div class="show-card__info">
                      <div class="show-card__name title title_h4">Взгляд изнутри: West Coast Customs</div>
                    </div></a></div>
              </div>
              <div class="videos__item swiper-slide">
                <div class="show-card"><a class="show-card__link" href="#">
                    <div class="show-card__cover show-card__cover_420-330"><img class="show-card__pic" src="assets/img/video-cover.jpg"></div>
                    <div class="show-card__info">
                      <div class="show-card__name title title_h4">Взгляд изнутри: West Coast Customs</div>
                    </div></a></div>
              </div>
              <div class="videos__item swiper-slide">
                <div class="show-card"><a class="show-card__link" href="#">
                    <div class="show-card__cover show-card__cover_420-330"><img class="show-card__pic" src="assets/img/video-cover.jpg"></div>
                    <div class="show-card__info">
                      <div class="show-card__name title title_h4">Взгляд изнутри: West Coast Customs</div>
                    </div></a></div>
              </div>
              <div class="videos__item swiper-slide">
                <div class="show-card"><a class="show-card__link" href="#">
                    <div class="show-card__cover show-card__cover_420-330"><img class="show-card__pic" src="assets/img/video-cover.jpg"></div>
                    <div class="show-card__info">
                      <div class="show-card__name title title_h4">Взгляд изнутри: West Coast Customs</div>
                    </div></a></div>
              </div>
              <div class="videos__item swiper-slide">
                <div class="show-card"><a class="show-card__link" href="#">
                    <div class="show-card__cover show-card__cover_420-330"><img class="show-card__pic" src="assets/img/video-cover.jpg"></div>
                    <div class="show-card__info">
                      <div class="show-card__name title title_h4">Взгляд изнутри: West Coast Customs</div>
                    </div></a></div>
              </div>
              <div class="videos__item swiper-slide">
                <div class="show-card"><a class="show-card__link" href="#">
                    <div class="show-card__cover show-card__cover_420-330"><img class="show-card__pic" src="assets/img/video-cover.jpg"></div>
                    <div class="show-card__info">
                      <div class="show-card__name title title_h4">Взгляд изнутри: West Coast Customs</div>
                    </div></a></div>
              </div>
              <div class="videos__item swiper-slide">
                <div class="show-card"><a class="show-card__link" href="#">
                    <div class="show-card__cover show-card__cover_420-330"><img class="show-card__pic" src="assets/img/video-cover.jpg"></div>
                    <div class="show-card__info">
                      <div class="show-card__name title title_h4">Взгляд изнутри: West Coast Customs</div>
                    </div></a></div>
              </div>
              <div class="videos__item swiper-slide">
                <div class="show-card"><a class="show-card__link" href="#">
                    <div class="show-card__cover show-card__cover_420-330"><img class="show-card__pic" src="assets/img/video-cover.jpg"></div>
                    <div class="show-card__info">
                      <div class="show-card__name title title_h4">Взгляд изнутри: West Coast Customs</div>
                    </div></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="premier">
        <div class="premier__container container">
          <div class="premier__title-wrapper">
            <div class="premier__title title">Интересное</div>
            <div class="container premier__controls">
              <div class="swiper-button-prev premier-swiper-button-prev"><svg viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
<path class="rounded-border" opacity="0.6" d="M49.25 25C49.25 11.6071 38.3929 0.75 25 0.75C11.6071 0.75 0.75 11.6071 0.75 25C0.75 38.3929 11.6071 49.25 25 49.25C38.3929 49.25 49.25 38.3929 49.25 25Z" stroke="white" stroke-width="1.5"/>
<path class="play-icon" d="M22.2224 18.5181L28.3953 24.9996L22.2224 31.4811" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

              </div>
              <div class="swiper-button-next premier-swiper-button-next"><svg viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
<path class="rounded-border" opacity="0.6" d="M49.25 25C49.25 11.6071 38.3929 0.75 25 0.75C11.6071 0.75 0.75 11.6071 0.75 25C0.75 38.3929 11.6071 49.25 25 49.25C38.3929 49.25 49.25 38.3929 49.25 25Z" stroke="white" stroke-width="1.5"/>
<path class="play-icon" d="M22.2224 18.5181L28.3953 24.9996L22.2224 31.4811" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

              </div>
            </div>
          </div>
          <div class="swiper-container premier__wrapper">
            <div class="premier__list swiper-wrapper">
              <div class="premier__item swiper-slide">
                <div class="show-card"><a class="show-card__link" href="#">
                    <div class="show-card__cover show-card__cover_420-330"><img class="show-card__pic" src="assets/img/video-cover.jpg"></div>
                    <div class="show-card__info">
                      <div class="show-card__name title title_h4">Взгляд изнутри: West Coast Customs</div>
                    </div>
                    <div class="show-card__more">Подробнее<span class="show-card__more-arrow"><svg viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11 1L6 6L1 1" stroke="#81D1EA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</span></div></a></div>
              </div>
              <div class="premier__item swiper-slide">
                <div class="show-card"><a class="show-card__link" href="#">
                    <div class="show-card__cover show-card__cover_420-330"><img class="show-card__pic" src="assets/img/video-cover.jpg"></div>
                    <div class="show-card__info">
                      <div class="show-card__name title title_h4">Взгляд изнутри: West Coast Customs</div>
                    </div>
                    <div class="show-card__more">Подробнее<span class="show-card__more-arrow"><svg viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11 1L6 6L1 1" stroke="#81D1EA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</span></div></a></div>
              </div>
              <div class="premier__item swiper-slide">
                <div class="show-card"><a class="show-card__link" href="#">
                    <div class="show-card__cover show-card__cover_420-330"><img class="show-card__pic" src="assets/img/video-cover.jpg"></div>
                    <div class="show-card__info">
                      <div class="show-card__name title title_h4">Взгляд изнутри: West Coast Customs</div>
                    </div>
                    <div class="show-card__more">Подробнее<span class="show-card__more-arrow"><svg viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11 1L6 6L1 1" stroke="#81D1EA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</span></div></a></div>
              </div>
              <div class="premier__item swiper-slide">
                <div class="show-card"><a class="show-card__link" href="#">
                    <div class="show-card__cover show-card__cover_420-330"><img class="show-card__pic" src="assets/img/video-cover.jpg"></div>
                    <div class="show-card__info">
                      <div class="show-card__name title title_h4">Взгляд изнутри: West Coast Customs</div>
                    </div>
                    <div class="show-card__more">Подробнее<span class="show-card__more-arrow"><svg viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11 1L6 6L1 1" stroke="#81D1EA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</span></div></a></div>
              </div>
              <div class="premier__item swiper-slide">
                <div class="show-card"><a class="show-card__link" href="#">
                    <div class="show-card__cover show-card__cover_420-330"><img class="show-card__pic" src="assets/img/video-cover.jpg"></div>
                    <div class="show-card__info">
                      <div class="show-card__name title title_h4">Взгляд изнутри: West Coast Customs</div>
                    </div>
                    <div class="show-card__more">Подробнее<span class="show-card__more-arrow"><svg viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11 1L6 6L1 1" stroke="#81D1EA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</span></div></a></div>
              </div>
              <div class="premier__item swiper-slide">
                <div class="show-card"><a class="show-card__link" href="#">
                    <div class="show-card__cover show-card__cover_420-330"><img class="show-card__pic" src="assets/img/video-cover.jpg"></div>
                    <div class="show-card__info">
                      <div class="show-card__name title title_h4">Взгляд изнутри: West Coast Customs</div>
                    </div>
                    <div class="show-card__more">Подробнее<span class="show-card__more-arrow"><svg viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11 1L6 6L1 1" stroke="#81D1EA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</span></div></a></div>
              </div>
              <div class="premier__item swiper-slide">
                <div class="show-card"><a class="show-card__link" href="#">
                    <div class="show-card__cover show-card__cover_420-330"><img class="show-card__pic" src="assets/img/video-cover.jpg"></div>
                    <div class="show-card__info">
                      <div class="show-card__name title title_h4">Взгляд изнутри: West Coast Customs</div>
                    </div>
                    <div class="show-card__more">Подробнее<span class="show-card__more-arrow"><svg viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11 1L6 6L1 1" stroke="#81D1EA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</span></div></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer__container container">
        <div class="footer__left">
          <nav class="footer-nav"><span class="footer-nav__column"><a class="footer-nav__link" href="#">Телепрограмма</a><a class="footer-nav__link footer-nav__link--longer" href="#">Шоу</a><a class="footer-nav__link footer-nav__link--longer" href="#">Видео</a></span><span class="footer-nav__column"><a class="footer-nav__link" href="#"> Интересное</a><a class="footer-nav__link" href="#"> Как подлючиться</a><a class="footer-nav__link" href="#"> О телеканале</a></span><span class="footer-nav__column"><a class="footer-nav__link footer-nav__link--long" href="#">Пользовательское соглашение</a><a class="footer-nav__link footer-nav__link--long" href="#">Положение о конфиденциальности</a><a class="footer-nav__link" href="#">Размещение рекламы</a></span></nav>
        </div>
        <div class="footer__right socials"><span class="footer__text">Мы в соцсетях</span>
          <div class="footer__socials socials__list">
            <div class="socials__item socials__item_big-marg"><a class="socials__link" href="#">
                <svg class="socials__pic socials__pic_fb">
                  <use xlink:href="./assets/img/sprite.svg#fb"></use>
                </svg></a></div>
            <div class="socials__item socials__item_big-marg"><a class="socials__link" href="#">
                <svg class="socials__pic socials__pic_vk">
                  <use xlink:href="./assets/img/sprite.svg#vk"></use>
                </svg></a></div>
            <div class="socials__item socials__item_big-marg"><a class="socials__link" href="#">
                <svg class="socials__pic socials__pic_youtube">
                  <use xlink:href="./assets/img/sprite.svg#youtube"></use>
                </svg></a></div>
            <div class="socials__item"><a class="socials__link" href="#">
                <svg class="socials__pic socials__pic_dzen">
                  <use xlink:href="./assets/img/sprite.svg#dzen"></use>
                </svg></a></div>
          </div>
        </div>
        <div class="footer__copyright-container">
          <div class="footer__copyright">&copy; 2019 Discovery Networks International. Все права защищены. Копирование материалов без согласования запрещено.</div>
          <div class="footer__air-prod">
            <div class="footer__air-logo">Сделано в &nbsp;<a class="footer__logo-link" href="#">Air Production</a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="assets/js/foundation.js" defer></script>
    <script src="assets/js/app.js" defer></script>
  </body>
</html>
