build/topic.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Topic</title>
    <meta content="" name="author">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image" href="assets/img/favicon.ico" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="assets/css/app.css" media="screen, projection, print"><!--[if lt IE 9]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]-->
  </head>
  <body class="marine">
    <div class="wrapper">
      <!-- - const dropdownItems =  ['DISCOVERY CHANNEL', 'ANIMAL PLANET', 'TLC', 'ID INVESTIGATION DISCOVERY', 'DISCOVERY SCIENCE']-->
      <header class="header">
        <div class="container header__container"><a class="header__logo" href="#"><img class="header__logo_img" src="assets/img/logo.svg"></a>
          <nav class="header__nav nav">
            <ul class="nav__list">
              <li class="nav__item nav__item_has-dropdown"><a class="nav__link" href="#">Телепрограмма</a><a class="nav__open-dropdown"><svg viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11 1L6 6L1 1" stroke="#81D1EA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</a>
                <ul class="nav__dropdown dropdown">
                  <li class="dropdown__item"><a class="dropdown__link" href="#">DISCOVERY CHANNEL</a></li>
                  <li class="dropdown__item"><a class="dropdown__link" href="#">ANIMAL PLANET</a></li>
                  <li class="dropdown__item"><a class="dropdown__link" href="#">TLC</a></li>
                  <li class="dropdown__item"><a class="dropdown__link" href="#">ID INVESTIGATION DISCOVERY</a></li>
                  <li class="dropdown__item"><a class="dropdown__link" href="#">DISCOVERY SCIENCE</a></li>
                </ul>
              </li>
              <li class="nav__item nav__item_has-dropdown"><a class="nav__link" href="#">Шоу</a>
              </li>
              <li class="nav__item nav__item_has-dropdown"><a class="nav__link" href="#">Видео</a>
              </li>
              <li class="nav__item nav__item_has-dropdown"><a class="nav__link" href="#">Интересное</a>
              </li>
              <li class="nav__item nav__item_has-dropdown"><a class="nav__link" href="#">Как подключить</a>
              </li>
              <li class="nav__item nav__item_mobile"><a class="header__promo header__promo_mobile nav__link" href="#"><span class="header__promo-heading">Спецпроект</span><span class="header__promo-img"><img class="header__promo-pic" src="assets/img/suzuki.png"></span></a></li>
              <li class="nav__item nav__item_mobile">
                <div class="socials socials_mobile">
                  <div class="socials__list">
                    <div class="socials__item"><a class="socials__link" href="#">
                        <svg class="socials__pic socials__pic_fb">
                          <use xlink:href="./assets/img/sprite.svg#fb"></use>
                        </svg></a></div>
                    <div class="socials__item"><a class="socials__link" href="#">
                        <svg class="socials__pic socials__pic_vk">
                          <use xlink:href="./assets/img/sprite.svg#vk"></use>
                        </svg></a></div>
                    <div class="socials__item"><a class="socials__link" href="#">
                        <svg class="socials__pic socials__pic_youtube">
                          <use xlink:href="./assets/img/sprite.svg#youtube"></use>
                        </svg></a></div>
                    <div class="socials__item"><a class="socials__link" href="#">
                        <svg class="socials__pic socials__pic_dzen">
                          <use xlink:href="./assets/img/sprite.svg#dzen"></use>
                        </svg></a></div>
                  </div>
                </div>
              </li>
            </ul>
          </nav><a class="header__promo" href="#"><span class="header__promo-heading">Спецпроект</span><span class="header__promo-img"><img class="header__promo-pic" src="assets/img/suzuki.png"></span></a>
          <div class="header__actions actions">
            <button class="actions__mobile-menu">
              <div class="actions__mobile-menu-icon mobile-menu">
                <div class="mobile-menu__line mobile-menu__line_top"></div>
                <div class="mobile-menu__line mobile-menu__line_middle"></div>
                <div class="mobile-menu__line mobile-menu__line_bottom"></div>
              </div>
            </button>
            <div class="actions__search search">
              <form class="search__form" action="" method="get" autocomplete="off">
                <div class="search__icon">
                  <div class="search__icon-search"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M21 21L16.65 16.65" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

                  </div>
                  <div class="search__icon-close"><svg viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="1.41418" width="22" height="2" rx="1" transform="rotate(45 1.41418 0)" fill="white"/>
<rect width="22" height="2" rx="1" transform="matrix(0.707107 -0.707107 -0.707107 -0.707107 1.41418 16.9706)" fill="white"/>
</svg>

                  </div>
                </div>
                <input class="search__input" type="text" name="search">
                <button class="button button_bordered search__button" type="submit"><span class="button__text">Поиск</span></button>
              </form>
            </div>
            <div class="actions__socials socials">
              <div class="socials__list">
                <div class="socials__item"><a class="socials__link" href="#">
                    <svg class="socials__pic socials__pic_fb">
                      <use xlink:href="./assets/img/sprite.svg#fb"></use>
                    </svg></a></div>
                <div class="socials__item"><a class="socials__link" href="#">
                    <svg class="socials__pic socials__pic_vk">
                      <use xlink:href="./assets/img/sprite.svg#vk"></use>
                    </svg></a></div>
                <div class="socials__item"><a class="socials__link" href="#">
                    <svg class="socials__pic socials__pic_youtube">
                      <use xlink:href="./assets/img/sprite.svg#youtube"></use>
                    </svg></a></div>
                <div class="socials__item"><a class="socials__link" href="#">
                    <svg class="socials__pic socials__pic_dzen">
                      <use xlink:href="./assets/img/sprite.svg#dzen"></use>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!--.hero-->
      <!--	.hero__wrapper-->
      <!--		.hero__colored-border.hero__colored-border_with-mob-pic-->
      <!--			.hero__background.hero__background_hide-on-mobile(style="background-image: url('../assets/img/privacy.jpg')")-->
      <!--			.hero__background.hero__background_mobile(style="background-image: url('../assets/img/main-hero-4.jpg')")-->
      <!--		.hero__container.container-->
      <!--			.hero__breadcrumbs.breadcrumbs-->
      <!--				.breadcrumbs__item-->
      <!--					a(href='javascript:void(0);').breadcrumbs__link Главная-->
      <!--				.breadcrumbs__item-->
      <!--					a(href='javascript:void(0);').breadcrumbs__link Интересное-->
      <!--				.breadcrumbs__item-->
      <!--					a(href='javascript:void(0);').breadcrumbs__link.breadcrumbs__link_active Как меняется образ мужчины в массовой культуре: исследование телеканала-->
      <!--			.hero__heading.hero__heading_topic-->
      <!--				.hero__title Как меняется образ мужчины в&nbsp;массовой культуре: исследование телеканала-->
      <div class="hero hero_topic">
        <div class="hero__colored-border hero__colored-border_with-mob-pic">
          <div class="hero__background hero__background_with-mob-pic" style="background-image: url('./assets/img/main-hero-mobile-2.jpg')"></div>
        </div>
        <div class="hero__wrapper">
          <div class="hero__colored-border hero__colored-border_inside hero__colored-border_desktop">
            <div class="hero__background hero__background_inside hero__background_desktop" style="background-image: url('./assets/img/about.jpg')">
              <div class="hero__container hero__container_inside container">
                <div class="hero__breadcrumbs hero__breadcrumbs_inside breadcrumbs">
                  <div class="breadcrumbs__item"><a class="breadcrumbs__link" href="javascript:void(0);">Главная</a></div>
                  <div class="breadcrumbs__item"><a class="breadcrumbs__link" href="javascript:void(0);">Интересное</a></div>
                  <div class="breadcrumbs__item"><a class="breadcrumbs__link breadcrumbs__link_current" href="javascript:void(0);">Как меняется образ мужчины в массовой культуре: исследование телеканала</a></div>
                </div>
                <h1 class="hero__title hero__title_inside hero__title_with-mob-pic">Как меняется образ мужчины в&nbsp;массовой культуре: исследование телеканала</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="topic">
        <div class="topic__container container">
          <p>Как добиться того, чтобы литые комплектующие вагонов стали надежнее? Как преодолеть дефицит, который сложился на колесные пары? На эти вопросы мы попросили ответить президента АО «СГ-транс» Сергея Калетина.</p>
          <h3>Дефицитная позиция</h3>
          <ul>
            <li>Сергей Владимирович, какова, на Ваш взгляд, сложилась ситуации с колесными парами на сети РЖД? Есть ли дефицит на них? Насколько цена соотносится с качеством?</li>
            <li>Как я уже отмечал, ОАО «РЖД» официально уведомило собственников подвижного состава, о дефиците у них литья и колесных пар и предложило собственникам вагонов обеспечить комплектующими предприятия ОАО «РЖД». Данное предложение связанно с острым дефицитом на рынке этой продукции.</li>
          </ul>
          <p>Нехватка&nbsp;<a href="#">запасных</a>&nbsp;частей возникла вследствие выхода отрасли вагоностроения из&nbsp;периода стагнации, а&nbsp;также со&nbsp;снижением объемов разделки. Еще одним фактором, повлиявшим на&nbsp;отсутствие комплектующих можно назвать решение ОАО &laquo;РЖД&raquo; не&nbsp;осуществлять прямые закупки у&nbsp;производителей литых деталей тележек и&nbsp;колесных пар по&nbsp;завышенным ценам.</p>
          <p>Такими действиями, по&nbsp;их&nbsp;мнению, они включают механизм сдерживания роста цен. При этом, переложив данную обязанность на&nbsp;владельцев подвижного состава, возникают риски еще большего ажиотажа вокруг дефицита, что приводит к&nbsp;увеличению стоимости на&nbsp;комплектующие. Все эти факторы простимулировали активацию перекупщиков номенклатуры и&nbsp;значительно повысили риски появления на&nbsp;рынке контрафактной продукции.</p>
          <h2>Что можно изменить?</h2>
          <p>На наш взгляд, нужно срочно изменить критерии браковки колесных пар в процессе эксплуатации, позволив колесу жить от планового до планового ремонта. Статистика подтверждает, что гребень не влияет на критерий безопасности, ни одного схода вагонов в организованных поездах по вине гребня не было.</p>
          <p>Таким образом, необходимо снять ограничение по литью при плановых видах ремонта. Это позволит устранить дефицит и ажиотажный спрос на комплектующие, и как следствие этого, мы не будем наблюдать стремительный рост цен на запасные части.</p>
          <p>На наш взгляд, нужно срочно изменить критерии браковки колесных пар в процессе эксплуатации, позволив колесу жить от планового до планового ремонта. Статистика подтверждает, что гребень не влияет на критерий безопасности, ни одного схода вагонов в организованных поездах по вине гребня не было.</p>
          <p>Таким образом, необходимо снять ограничение по литью при плановых видах ремонта. Это позволит устранить дефицит и ажиотажный спрос на комплектующие, и как следствие этого, мы не будем наблюдать стремительный рост цен на запасные части.</p><img src="./assets/img/disco-pic.jpg">
          <p><span>fjfjfjfjfj&nbsp;</span><a href="#">запасных</a></p>
          <div class="topic_quotation quote">
            <div class="quote__icon"><svg viewBox="0 0 39 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M38.1555 16.6039H30.6295V15.3319C30.6295 10.8799 32.6435 7.80587 36.7775 6.85187V0.915871C29.2515 1.76387 23.8455 6.63987 23.8455 15.6499V29.9599H38.1555V16.6039ZM6.99152 16.6039V15.3319C6.99152 10.8799 9.00552 7.80587 13.1395 6.85187V0.915871C5.61352 1.76387 0.207516 6.63987 0.207516 15.6499V29.9599H14.5175V16.6039H6.99152Z"/>
<path d="M38.1555 16.6039H30.6295V15.3319C30.6295 10.8799 32.6435 7.80587 36.7775 6.85187V0.915871C29.2515 1.76387 23.8455 6.63987 23.8455 15.6499V29.9599H38.1555V16.6039ZM6.99152 16.6039V15.3319C6.99152 10.8799 9.00552 7.80587 13.1395 6.85187V0.915871C5.61352 1.76387 0.207516 6.63987 0.207516 15.6499V29.9599H14.5175V16.6039H6.99152Z"/>
</svg>

            </div>
            <p class="quote__text">Опыт эксплуатации колесных пар, оборудованных подшипниками «старой» конструкции — цилиндрическими однорядными, показывает, что, несмотря на их массовость и привычность для пользователя, они не лишены массы недостатков.</p>
            <p class="quote__interviewer">Беседовал Андрей Лазарев, Менеджер по связям</p>
          </div>
        </div>
      </div>
      <div class="topic-video">
        <div class="topic-video__container container">
          <div class="topic-video__item show-card"><a class="show-card__link" href="//www.youtube.com/watch?v=T_6CeJCad6Y&amp;list=LLlHMjNwXSCANxW6EfndN0rg&amp;index=11&amp;t=68s" data-lity>
              <div class="show-card__cover"><img class="show-card__pic" src="assets/img/topic-video.jpg">
                <div class="show-card__play"><svg viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="1" y="1" width="88" height="88" rx="44" stroke="white" stroke-width="2"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M54 45L39 33V57L54 45Z" fill="white"/>
</svg>

                </div>
              </div>
              <div class="show-card__info">
                <div class="show-card__name title title_h4 animated">Вирусы</div>
              </div></a></div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer__container container">
        <div class="footer__left">
          <nav class="footer-nav"><span class="footer-nav__column"><a class="footer-nav__link" href="#">Телепрограмма</a><a class="footer-nav__link footer-nav__link--longer" href="#">Шоу</a><a class="footer-nav__link footer-nav__link--longer" href="#">Видео</a></span><span class="footer-nav__column"><a class="footer-nav__link" href="#"> Интересное</a><a class="footer-nav__link" href="#"> Как подлючиться</a><a class="footer-nav__link" href="#"> О телеканале</a></span><span class="footer-nav__column"><a class="footer-nav__link footer-nav__link--long" href="#">Пользовательское соглашение</a><a class="footer-nav__link footer-nav__link--long" href="#">Положение о конфиденциальности</a><a class="footer-nav__link" href="#">Размещение рекламы</a></span></nav>
        </div>
        <div class="footer__right socials"><span class="footer__text">Мы в соцсетях</span>
          <div class="footer__socials socials__list">
            <div class="socials__item socials__item_big-marg"><a class="socials__link" href="#">
                <svg class="socials__pic socials__pic_fb">
                  <use xlink:href="./assets/img/sprite.svg#fb"></use>
                </svg></a></div>
            <div class="socials__item socials__item_big-marg"><a class="socials__link" href="#">
                <svg class="socials__pic socials__pic_vk">
                  <use xlink:href="./assets/img/sprite.svg#vk"></use>
                </svg></a></div>
            <div class="socials__item socials__item_big-marg"><a class="socials__link" href="#">
                <svg class="socials__pic socials__pic_youtube">
                  <use xlink:href="./assets/img/sprite.svg#youtube"></use>
                </svg></a></div>
            <div class="socials__item"><a class="socials__link" href="#">
                <svg class="socials__pic socials__pic_dzen">
                  <use xlink:href="./assets/img/sprite.svg#dzen"></use>
                </svg></a></div>
          </div>
        </div>
        <div class="footer__copyright-container">
          <div class="footer__copyright">&copy; 2019 Discovery Networks International. Все права защищены. Копирование материалов без согласования запрещено.</div>
          <div class="footer__air-prod">
            <div class="footer__air-logo">Сделано в &nbsp;<a class="footer__logo-link" href="#">Air Production</a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="assets/js/foundation.js" defer></script>
    <script src="assets/js/app.js" defer></script>
  </body>
</html>

source/template/pages/topic.pug
extends ../_template

block variables
	- var title = 'Topic';

block content
	.wrapper
		include ../common/_header.pug


		//.hero
		//	.hero__wrapper
		//		.hero__colored-border.hero__colored-border_with-mob-pic
		//			.hero__background.hero__background_hide-on-mobile(style="background-image: url('../assets/img/privacy.jpg')")
		//			.hero__background.hero__background_mobile(style="background-image: url('../assets/img/main-hero-4.jpg')")
		//		.hero__container.container
		//			.hero__breadcrumbs.breadcrumbs
		//				.breadcrumbs__item
		//					a(href='javascript:void(0);').breadcrumbs__link Главная
		//				.breadcrumbs__item
		//					a(href='javascript:void(0);').breadcrumbs__link Интересное
		//				.breadcrumbs__item
		//					a(href='javascript:void(0);').breadcrumbs__link.breadcrumbs__link_active Как меняется образ мужчины в массовой культуре: исследование телеканала
		//			.hero__heading.hero__heading_topic
		//				.hero__title Как меняется образ мужчины в&nbsp;массовой культуре: исследование телеканала

		.hero.hero_topic
			.hero__colored-border.hero__colored-border_with-mob-pic
				.hero__background.hero__background_with-mob-pic(style="background-image: url('./assets/img/main-hero-mobile-2.jpg')")

			.hero__wrapper
				.hero__colored-border.hero__colored-border_inside.hero__colored-border_desktop
					.hero__background.hero__background_inside.hero__background_desktop(style="background-image: url('./assets/img/about.jpg')")
						.hero__container.hero__container_inside.container
							.hero__breadcrumbs.hero__breadcrumbs_inside.breadcrumbs
								.breadcrumbs__item
									a(href='javascript:void(0);').breadcrumbs__link Главная
								.breadcrumbs__item
									a(href='javascript:void(0);').breadcrumbs__link Интересное
								.breadcrumbs__item
									a(href='javascript:void(0);').breadcrumbs__link.breadcrumbs__link_current Как меняется образ мужчины в массовой культуре: исследование телеканала
							h1.hero__title.hero__title_inside.hero__title_with-mob-pic Как меняется образ мужчины в&nbsp;массовой культуре: исследование телеканала

		.topic
			.topic__container.container
				p
					| Как добиться того, чтобы литые комплектующие вагонов стали надежнее? Как преодолеть дефицит, который сложился на колесные пары? На эти вопросы мы попросили ответить президента АО «СГ-транс» Сергея Калетина.
				h3 Дефицитная позиция
				ul
					li Сергей Владимирович, какова, на Ваш взгляд, сложилась ситуации с колесными парами на сети РЖД? Есть ли дефицит на них? Насколько цена соотносится с качеством?
					li Как я уже отмечал, ОАО «РЖД» официально уведомило собственников подвижного состава, о дефиците у них литья и колесных пар и предложило собственникам вагонов обеспечить комплектующими предприятия ОАО «РЖД». Данное предложение связанно с острым дефицитом на рынке этой продукции.
				p
					| Нехватка&nbsp;
					a(href='#') запасных
					| &nbsp;частей возникла вследствие выхода отрасли вагоностроения из&nbsp;периода стагнации, а&nbsp;также со&nbsp;снижением объемов разделки. Еще одним фактором, повлиявшим на&nbsp;отсутствие комплектующих можно назвать решение ОАО &laquo;РЖД&raquo; не&nbsp;осуществлять прямые закупки у&nbsp;производителей литых деталей тележек и&nbsp;колесных пар по&nbsp;завышенным ценам.
				p
					| Такими действиями, по&nbsp;их&nbsp;мнению, они включают механизм сдерживания роста цен. При этом, переложив данную обязанность на&nbsp;владельцев подвижного состава, возникают риски еще большего ажиотажа вокруг дефицита, что приводит к&nbsp;увеличению стоимости на&nbsp;комплектующие. Все эти факторы простимулировали активацию перекупщиков номенклатуры и&nbsp;значительно повысили риски появления на&nbsp;рынке контрафактной продукции.
				h2 Что можно изменить?
				p На наш взгляд, нужно срочно изменить критерии браковки колесных пар в процессе эксплуатации, позволив колесу жить от планового до планового ремонта. Статистика подтверждает, что гребень не влияет на критерий безопасности, ни одного схода вагонов в организованных поездах по вине гребня не было.
				p Таким образом, необходимо снять ограничение по литью при плановых видах ремонта. Это позволит устранить дефицит и ажиотажный спрос на комплектующие, и как следствие этого, мы не будем наблюдать стремительный рост цен на запасные части.
				p На наш взгляд, нужно срочно изменить критерии браковки колесных пар в процессе эксплуатации, позволив колесу жить от планового до планового ремонта. Статистика подтверждает, что гребень не влияет на критерий безопасности, ни одного схода вагонов в организованных поездах по вине гребня не было.
				p Таким образом, необходимо снять ограничение по литью при плановых видах ремонта. Это позволит устранить дефицит и ажиотажный спрос на комплектующие, и как следствие этого, мы не будем наблюдать стремительный рост цен на запасные части.
				img(src='./assets/img/disco-pic.jpg')
				p
					span fjfjfjfjfj&nbsp;
					a(href='#') запасных


				.topic_quotation.quote
					.quote__icon
						include ../../images/quotes.svg
					p.quote__text Опыт эксплуатации колесных пар, оборудованных подшипниками «старой» конструкции — цилиндрическими однорядными, показывает, что, несмотря на их массовость и привычность для пользователя, они не лишены массы недостатков.
					p.quote__interviewer Беседовал Андрей Лазарев, Менеджер по связям

		.topic-video
			.topic-video__container.container
				.topic-video__item.show-card
					a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).show-card__link
						.show-card__cover
							img(src='assets/img/topic-video.jpg').show-card__pic
							.show-card__play
								include ../../images/play.svg
						.show-card__info
							.show-card__name.title.title_h4.animated Вирусы





	include ../common/_footer.pug
